.grid-header {
  background-color: #343a40;
  color: #fff;
}

.legend-box {
  display: inline-flex;
  flex-direction: column;
  max-width: 300px;
}

.legend-container {
  margin-top: 10px;
  padding: 5px 10px;
  display: inline;
}

.legend-label {
  font-weight: 500;
  font-size: 80%;
}
